.advantages__text {
  position: relative;
  padding: 43px 32px 20px;

  &::before {
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 37px;
    background: url("../../img/bg-triangle.svg");
    content: "";
  }

  @media (min-width: 321px) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 51px 133px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 345px 45px;
  }
}

.advantages__text-title {
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__text-content {
  margin: 0 0 10px;
  color: $black-one;
  font-size: 14px;
  line-height: 26px;
}

.advantages__item-wrapper {
  @media (min-width: 515px) {
    display: flex;
  }
}

.advantages__item {
  padding: 46px 27px 32px;
  color: $white;
  background-color: $light-blue;

  &--bg-grey {
    position: relative;
    padding: 33px 25px;
    color: $black;
    background-color: #efefef;

    .advantages__item-count {
      color: $black-one;
    }

    .advantages__item-text {
      color: $black-one;
    }

    &:not(:last-child) {
      &::before {
        position: absolute;
        bottom: 0;
        left: 20px;
        width: 280px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        content: "";
      }
    }

    @media (min-width: 321px) {
      &::before {
        display: none;
      }
    }

    @media (min-width: 515px) {
      width: 33%;
    }

    @media (min-width: $tablet-width) {
      min-height: 256px;
      padding: 46px 50px 48px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 45px 47px 39px;

    &--backward {
      order: 1;

      .advantages__item-title {
        margin: 0 6px 20px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 53px 55px;

    &--backward {
      padding: 53px 81px;

      .advantages__item-title {
        margin: 0 43px 20px;
      }
    }
  }
}

.advantages__item-title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0 20px 20px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 70px 20px;
  }
}

.advantages__item-count {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__item-text {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__item-image {
  display: flex;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-grow: 1;
    min-width: 512px;
  }
}

.advantages__item-img {
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }
}

.advantages__list-icon {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 26px 41px 25px 18px;
  text-align: left;
  list-style: none;

  @media (min-width: 550px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    min-height: 330px;
    padding: 60px 0 56px;
  }
}

.advantages__icon-item {
  position: relative;
  padding: 10px 0 0 51px;

  &::before {
    position: absolute;
    top: 1px;
    left: 3px;
    width: 37px;
    height: 36px;
    background-image: url("../../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
  }

  &--gifts::before {
    background-image: url("../../img/icon-gift.svg");
  }

  &--burger::before {
    top: 4px;
    background-image: url("../../img/icon-burger.svg");
  }

  @media (min-width: 550px) {
    width: 33%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 91px 35px 0;
    text-align: center;

    &::before {
      position: absolute;
      top: -1px;
      left: 50%;
      width: 77px;
      height: 75px;
      transform: translateX(-50%);
    }

    &--gifts {
      order: 1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 91px 63px 0;
  }
}

.advantages__icon-item-title {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__icon-item-text {
  width: 100%;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 515px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
