.btn {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &--blue {
    color: #ffffff;
    background: $light-blue;

    &:hover {
      background-color: #669fc1;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5397be;
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }

  &--controls {
    background-color: transparent;

    &:hover {
      color: $black;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
