.btn {
  &--blue {
    color: #ffffff;
    background: $light-blue;
    transition: 0.3s;

    &:hover {
      background-color: #669fc1;
      cursor: pointer;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5397be;
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }

  &--controls {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $black;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
