.feedback__text-wrapper {
  padding: 39px 22px 7px;

  @media (min-width: $tablet-width) {
    padding: 72px 165px 62px;
  }

  @media (min-width: $desktop-width) {
    padding: 108px 381px 48px;
  }
}

.feedback__title {
  margin: 0 0 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0 0 34px;
    font-size: 30px;
  }
}

.feedback__text {
  margin: 0 0 10px;
  color: $black-one;
  font-size: 14px;
  line-height: 24px;
}

.feedback__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px 27px;

    &::before {
      position: absolute;
      left: 50%;
      width: 1px;
      height: 292px;
      background-color: #dbdbdb;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.feedback__item {
  padding: 18px 20px 5px;
  border-top: 1px solid #e6e6e6;

  &--contact-info {
    padding: 22px 20px 5px;
  }

  &--last-block-padding {
    padding: 26px 20px 25px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 55px;
    border: none;

    &:nth-child(1) {
      width: 280px;
      padding: 0 0 55px 14px;
      text-align: left;
    }

    &:nth-child(3) {
      order: -1;
      width: 280px;
      text-align: left;
    }

    &:nth-child(2),
    &:nth-child(4) {
      width: 100%;
      padding: 0 0 38px;
    }

    &:nth-child(5) {
      width: 100%;
      padding: 0 0 33px;
    }

    &:nth-child(4) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 92px 36px 92px;
    }
  }

  @media (min-width: 960px) {
    &:nth-child(1) {
      width: 400px;
      padding: 0 0 55px;
      text-align: left;
    }

    &:nth-child(3) {
      width: 400px;
      text-align: center;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &:nth-child(4) {
      padding: 0 0 35px;
    }
  }
}


.feedback__item-title {
  margin: 0 0 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 0 59px;
    font-size: 21px;

    &--contact-info {
      margin: 0 0 28px;
    }

    &--horizontal-dividers {
      &::before {
        position: absolute;
        top: 12px;
        left: 0;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: absolute;
        top: 12px;
        right: 0;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }
    }

    &--dividers-visited-places {
      margin: 0 25px 42px;

      &::before {
        position: absolute;
        top: 12px;
        left: -120px;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: absolute;
        top: 12px;
        right: -120px;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }

  @media (min-width: 769px) {
    &--dividers-visited-places {
      margin: 0 100px 55px;

      &::before {
        left: -200px;
        width: 150px;
      }

      &::after {
        right: -200px;
        width: 150px;
      }
    }
  }

  @media (min-width: 940px) {
    &--dividers-visited-places {
      margin: 0 210px 55px;
    }
  }

  @media (min-width: $desktop-width) {
    &--horizontal-dividers {
      &::before {
        width: 275px;
      }

      &::after {
        width: 275px;
      }
    }

    &--dividers-visited-places {
      margin: 0 280px 38px;

      &::before {
        left: -275px;
        width: 275px;
      }

      &::after {
        right: -275px;
        width: 275px;
      }
    }

    &--dividers-info {
      margin: 0 339px 70px;

      &::before {
        position: absolute;
        top: 12px;
        left: -340px;
        width: 275px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: absolute;
        top: 12px;
        right: -340px;
        width: 275px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }
}

.feedback__item-content-wrapper {
  display: flex;
  margin: 0 0 18px;
  text-align: left;

  &--contact-info-style {
    position: relative;
    flex-direction: column;

    .feedback__item-label {
      margin: 0 0 5px 21px;
    }

    .feedback__item-input {
      margin: 0;
    }
  }

  &--icon {
    .feedback__item-input-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      padding: 20px;
      background-color: #e7e7e7;
    }
  }

  @media (min-width: $tablet-width) {
    &--label-width {
      width: 205px;
      margin: 0 0 30px;
    }
  }

  @media (min-width: 900px) {
    &--contact-info-style {
      flex-direction: row;

      .feedback__item-label {
        display: block;
        margin: 0 20px 0 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--contact-info-style {
      flex-direction: row;

      .feedback__item-label {
        display: flex;
        margin: 0 20px 0 0;
      }

      .feedback__item-input {
        width: 315px;
      }
    }

    &--label-width {
      width: auto;
    }
  }
}

.feedback__item-label {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin: auto 0;
  color: $black-one;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;

  &--radio-checkbox {
    color: $black;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}

.feedback__item-label-phone-word {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.feedback__item-input {
  width: 100%;
  min-width: 0;
  margin: 0 0 0 14px;
  padding: 13px 18px 12px;
  color: $black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: $white-one;
  border: 4px solid $white-one;
  outline: none;
  transition: 0.3s;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: $white;
    border: 4px solid #e5e5e5;
  }
}

.feedback__item-radio {
  + label::before {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    margin: 0 23px -1px 0;
    background-color: $white-one;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
  }

  &:checked + label::before {
    background-image: url("../img/icon-radio.svg");
    background-position: center;
  }

  &:disabled {
    + label::before {
      background-color: #d5d5d5;
    }

    + label {
      color: #d5d5d5;
      cursor: default;

      &:hover {
        &::before {
          background-color: #d5d5d5;
          cursor: default;
        }
      }
    }

    &:checked {
      + label::before {
        background-color: #d5d5d5;
        background-image: url("../img/icon-radio-checked.svg");
      }

      + label {
        color: #d5d5d5;

        &:hover {
          &::before {
            background-color: #d5d5d5;
            background-image: url("../img/icon-radio-checked.svg");
          }
        }
      }
    }
  }

  &:hover + label::before {
    background-color: #e5e5e5;
  }

  &:checked:hover + label::before {
    background-color: #e5e5e5;
  }

  &:active + label::before {
    background-color: #d5d5d5;
  }

  &:checked:active + label::before {
    background-color: #d5d5d5;
    background-image: url("../img/icon-radio-checked.svg");
  }

  &:focus {
    + label {
      color: #d5d5d5;

      &::before {
        background-color: #d5d5d5;
      }
    }
  }
}

.feedback__item-checkbox {
  + label::before {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    margin: 0 23px 3px 0;
    background-color: $white-one;
    background-repeat: no-repeat;
    border-radius: 10%;
    content: "";
  }

  &:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-position: center;
  }

  &:disabled {
    + label::before {
      background-color: #d5d5d5;
    }

    + label {
      color: #d5d5d5;
      cursor: default;

      &:hover {
        &::before {
          background-color: #d5d5d5;
          cursor: default;
        }
      }
    }

    &:checked {
      + label::before {
        background-color: #d5d5d5;
        background-image: url("../img/icon-tick-checked.svg");
      }

      + label {
        color: #d5d5d5;

        &:hover {
          &::before {
            background-color: #d5d5d5;
            background-image: url("../img/icon-tick-checked.svg");
          }
        }
      }
    }
  }

  &:hover + label::before {
    background-color: #e5e5e5;
  }

  &:checked:hover + label::before {
    background-color: #e5e5e5;
  }

  &:active + label::before {
    background-color: #d5d5d5;
  }

  &:checked:active + label::before {
    background-color: #d5d5d5;
    background-image: url("../img/icon-tick-checked.svg");
  }

  &:focus {
    + label {
      color: #d5d5d5;

      &::before {
        background-color: #d5d5d5;
      }
    }
  }
}

.feedback__item-comment {
  width: 100%;
  height: 160px;
  padding: 10px 16px;
  color: $black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: $white-one;
  border: 4px solid $white-one;
  outline: none;
  resize: none;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: $white;
    border: 4px solid #e5e5e5;
  }
}

.feedback__form-submit {
  margin-bottom: 32px;
  padding: 21px 48px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 18px 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding: 21px 148px;
  }
}

.feedback__required-fields-info {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin: 28px 0;
  }
}
