.feedback__text-wrapper {
  padding: 41px 22px 12px;

  @media (min-width: $tablet-width) {
    padding: 72px 165px;
  }
}

.feedback__title {
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.feedback__text {
  margin: 0 0 10px;
  color: $black-one;
  font-size: 14px;
  line-height: 24px;
}

.feedback__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
  }
}

.feedback__item {
  padding: 25px 20px 5px;
  border-top: 1px solid #e6e6e6;

  &--last-block-padding {
    padding: 25px 20px 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 55px;
    border: none;

    &:nth-child(1) {
      width: 275px;
      text-align: left;
    }

    &:nth-child(3) {
      order: -1;
      width: 275px;
      text-align: left;
    }

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      width: 100%;
    }

    &:nth-child(4) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 100px 55px;
    }

    &--divider {
      position: relative;

      &::before {
        position: absolute;
        left: -55px;
        width: 1px;
        height: 292px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }
}

.feedback__item-title {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 0 55px;
    font-size: 21px;

    &--horizontal-dividers {
      &::before {
        position: absolute;
        top: 12px;
        left: 0;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: absolute;
        top: 12px;
        right: 0;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }
    }

    &--dividers {
      margin: 0 20px 55px;

      &::before {
        position: absolute;
        top: 12px;
        left: -120px;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: absolute;
        top: 12px;
        right: -120px;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }
}

.feedback__item-content-wrapper {
  display: flex;
  margin: 0 0 20px;
  text-align: left;

  &--contact-info-style {
    position: relative;
    flex-direction: column;

    .feedback__item-label {
      margin: 0 0 14px 22px;
    }

    .feedback__item-input {
      margin: 0;
    }
  }

  &--icon {
    .feedback__item-input-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      padding: 20px;
      background-color: #e7e7e7;
    }
  }

  @media (min-width: $tablet-width) {
    &--label-width {
      width: 200px;
      margin: 0 0 30px;
    }
  }
}

.feedback__item-label {
  display: flex;
  align-items: center;
  margin: auto 0;
  color: $black-one;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;

  &--radio-checkbox {
    color: $black;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: initial;
  }
}

.feedback__item-input {
  width: 100%;
  height: 58px;
  margin: 0 0 0 14px;
  padding: 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: $white-one;
  border: 4px solid $white-one;
  outline: none;
  transition: 0.3s;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: $white;
    border: 4px solid #e5e5e5;
  }
}

.feedback__item-radio {
  + label::before {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    margin: 0 23px 0 0;
    background-color: $white-one;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
  }

  &:checked + label::before {
    background-image: url("../../img/icon-radio.svg");
    background-position: center;
  }

  &:disabled {
    + label::before {
      background-color: #d5d5d5;
    }

    + label {
      color: #d5d5d5;

      &:hover {
        &::before {
          background-color: #d5d5d5;
        }
      }
    }

    &:checked {
      + label::before {
        background-color: #d5d5d5;
        background-image: url("../../img/icon-radio-checked.svg");
      }

      + label {
        color: #d5d5d5;

        &:hover {
          &::before {
            background-color: #d5d5d5;
            background-image: url("../../img/icon-radio-checked.svg");
          }
        }
      }
    }
  }

  &:hover + label::before {
    background-color: #e5e5e5;
  }

  &:checked:hover + label::before {
    background-color: #e5e5e5;
  }

  &:active + label::before {
    background-color: #d5d5d5;
  }

  &:checked:active + label::before {
    background-color: #d5d5d5;
    background-image: url("../../img/icon-radio-checked.svg");
  }

  &:focus {
    + label {
      color: #d5d5d5;

      &::before {
        background-color: #d5d5d5;
      }
    }
  }
}

.feedback__item-checkbox {
  + label::before {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    margin: 0 23px 0 0;
    background-color: $white-one;
    background-repeat: no-repeat;
    border-radius: 10%;
    content: "";
  }

  &:checked + label::before {
    background-image: url("../../img/icon-tick.svg");
    background-position: center;
  }

  &:disabled {
    + label::before {
      background-color: #d5d5d5;
    }

    + label {
      color: #d5d5d5;

      &:hover {
        &::before {
          background-color: #d5d5d5;
        }
      }
    }

    &:checked {
      + label::before {
        background-color: #d5d5d5;
        background-image: url("../../img/icon-tick-checked.svg");
      }

      + label {
        color: #d5d5d5;

        &:hover {
          &::before {
            background-color: #d5d5d5;
            background-image: url("../../img/icon-tick-checked.svg");
          }
        }
      }
    }
  }

  &:hover + label::before {
    background-color: #e5e5e5;
  }

  &:checked:hover + label::before {
    background-color: #e5e5e5;
  }

  &:active + label::before {
    background-color: #d5d5d5;
  }

  &:checked:active + label::before {
    background-color: #d5d5d5;
    background-image: url("../../img/icon-tick-checked.svg");
  }

  &:focus {
    + label {
      color: #d5d5d5;

      &::before {
        background-color: #d5d5d5;
      }
    }
  }
}

.feedback__item-comment {
  width: 100%;
  height: 160px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: $white-one;
  border: 4px solid $white-one;
  outline: none;
  resize: none;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: $white;
    border: 4px solid #e5e5e5;
  }
}

.feedback__form-submit {
  margin-bottom: 78px;
  padding: 21px 48px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 21px 73px;
  }
}

.feedback__required-fields-info {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
