.footer {
  padding: 41px 82px 23px;
  color: $black;
  background-color: $white;

  @media (min-width: 600px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.footer__hashtag {
  margin: 0 0 41px;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: 0 0 6px 6px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright-text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.footer__copyright-icon-link {
  display: flex;
  margin-left: 11px;
  color: $black;
  transition: 0.3s;

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

