.gallery__text {
  padding: 45px 25px 23px;

  @media (min-width: $tablet-width) {
    padding: 75px 170px 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 387px 65px;
  }
}

.gallery__text-title {
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.gallery__text-content {
  margin: 0 0 10px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
}
