.gallery__text {
  padding: 45px 25px 23px;
}

.gallery__text-title {
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.gallery__text-content {
  margin: 0 0 10px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
}
