.header {
  position: relative;
  padding-bottom: 56px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 22px 0;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.header__icon-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 21px;
  margin: 18px 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
