.photo {
  text-align: left;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: 770px) {
    justify-content: center;
  }
}

.photo__item {
  padding: 22px 20px 20px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo__link-pic {
  display: block;
  margin: 0 0 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
  }
}

.photo__pic {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.photo__item-text-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 21px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__title {
  margin: 0 0 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.photo__text {
  margin: 0 0 11px;
  color: $black-one;
  font-size: 14px;
  line-height: 24px;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.7);
  }
}

.photo__like-count {
  position: relative;
  margin: 0;
  padding-left: 37px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  &::before {
    position: absolute;
    left: 0;
    width: 23px;
    height: 21px;
    background-image: url("../../img/icon-like.svg");
    background-size: contain;
    content: "";
  }
}
