.photo {
  text-align: left;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: 770px) {
    justify-content: center;
  }
}

.photo__item {
  padding: 22px 20px 17px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    padding: 0;
    border-bottom: none;

    &--small {
      width: 50%;
      min-width: 0;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &--small {
      width: calc(100% / 3);
    }
  }
}

.photo__link-pic {
  display: block;
  margin: 0 0 9px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
  }
}

.photo__pic {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.photo__pic-prev {
  width: 100%;
}

.photo__item-text-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 27px 16px 21px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.photo__text {
  margin: 0 0 8px;
  color: $black-one;
  font-size: 14px;
  line-height: 24px;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.7);
  }
}

.photo__like-count {
  display: flex;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photo__like-count-icon {
  margin-right: 14px;
  color: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
