.search {
  padding: 25px 20px 50px;

  @media (min-width: $tablet-width) {
    padding: 55px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 365px;
  }
}

.search__title {
  margin: 0 0 21px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0 0 31px;
    font-size: 30px;
  }
}

.search__text {
  margin: 0 0 34px;
  color: $black-one;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0 0 42px;
  }
}

.search__link {
  display: flex;
  justify-content: center;
  padding: 16px 46px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: 500px) {
    width: 460px;
    margin: 0 auto;
  }
}
