.search {
  padding: 33px 20px 50px;

  @media (min-width: $tablet-width) {
    padding: 57px 155px;
  }
}

.search__title {
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search__text {
  margin: 0 0 42px;
  color: $black-one;
  font-size: 14px;
  line-height: 24px;
}

.search__link {
  display: flex;
  justify-content: center;
  padding: 19px 46px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
