html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
 max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: $black-one;
  font-weight: normal;
  font-size: 14px;
  font-family: $ptsans;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
